* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin:0px;
    color: grey;
}
body {
    padding: 20px;
}
.input__label, .input {
    display: block;
    margin-bottom:10px;
}

.input, .button {
    border-radius: 5px;
    background-color: lightgray;
    border-style: none;
}

.button {
    background-color: darkturquoise;   
    color: white;
}

.tip__box, .counter__box {
    border: 2px solid lightgray;
    padding: 2px;
    margin-top: 5px;
}
.hidden {
    display: none;
}